
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-phone-outline:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-plus-1:before { content: '\e805'; } /* '' */
.icon-location-circled:before { content: '\e806'; } /* '' */
.icon-heart-empty-1:before { content: '\e807'; } /* '' */
.icon-cancel-circled2:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */